@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
body{
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Josefin Sans' , sans-serif;
}


section{
    height: 100vh;
}



/* top banner start */

.top-banner{
    background-image: url("images/header-bg.png");
   background-repeat: no-repeat;
   
}

.half-width h2{
    font-weight: 500;
    font-size: 40px;
    
} 
.half-width h1{
    font-weight: 700;
    font-size: 70px;
    
}
.half-width p{
   font-weight: 300;
   font-size: 20px;
   
}

.half-width .link-button{
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    background-color: rgb(252, 79, 108);
    padding: 10px 20px;
    border-radius: 7px;
    
    
 }
 .half-width .link-button:hover{
     color:rgb(252, 79, 108);
     background-color: rgb(255, 219, 225);
     transition: all 0.3s ease;
 }

.half-width{
    width: 35%;
    float: left;
    margin-left: 12%;
    padding-left: 2%;
    margin-top: 200px;    
}

.half-width img{
    width:70%;
}


/* mid banner start */

.mid-banner .half-width img{
    width:70%;
}

.mid-banner .half-width{
    width: 35%;
    float: left;
    margin-left: 10%;
    padding-left: 2%;
    margin-top: 200px;    
}

.mid-banner .half-width h1{
    font-weight: 700;
    font-size: 70px;
    
}
.mid-banner .half-width p{
   font-weight: 300;
   font-size: 20px;
   
}

.mid-banner{
    background-image: url("images/biography-bg.png");
   background-repeat: no-repeat;


/* work section start */